name: jobs update automated

on:
  push:
    paths:
      - '_data/jobs.yaml'
    branches:
      - main

jobs:
  jobs-poster:
    runs-on: ubuntu-latest
    name: Run Jobs Poster
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - id: updater
        name: Job Updater
        uses: rseng/jobs-updater@main
        with:
          filename: "_data/jobs.yaml"

          # Fields to include (all but url will have title before)
          keys: "title,location,employer,remote,url"

          # Field to determine job uniqueness
          unique: "url"

          deploy: true
          test: false
          twitter_deploy: false
          hashtag: "#HPC"

          slack_deploy: true
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
          
          discord_deploy: true
          discord_webhook: ${{ secrets.DISCORD_WEBHOOK }}

          mastodon_deploy: true
          mastodon_access_token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          mastodon_api_base_url: ${{ secrets.MASTODON_API_BASE_URL }}

      - run: echo ${{ steps.updater.outputs.fields }}
        name: Show Fields Used
        shell: bash

      - run: echo ${{ steps.updater.outputs.matrix }}
        name: Show New Jobs
        shell: bash
